<!--<a routerLink="/cart" class="button fancy-button">
    <i class="material-icons">shopping_cart</i>
</a>-->





<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar bg-light">
  <div class="container">
    <a routerLink="/cart" class="button fancy-button">
      <button style="font-size:24px"><a routerLink="/cart" class="fa fa-shopping-cart"></a></button>
    </a>
  </div>  
  <div style = "position:relative; left:1800px; top:8px;">
    <button class="out" (click)="logout()">Logout</button>  
  </div>
</nav>




